*{box-sizing: border-box;}

body{
  margin: 0 auto;
}

#root {
  display: flex;
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem;
  text-align: right;
  font-size: 1.2em;
  flex-direction: column;
}

h1{
  text-align: center;
}

button{
  margin: .7em;
  background-color: #fac0c0 !important;
  align-content: flex-end;
}

button:hover{
  cursor: pointer;
  background-color: #d35c5c !important;
}

input{
  height: 30px;
  margin-left: 10px;
}

li{
  width: 100%;
}